<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.0">
   <persistence-unit name="telegen">
       <class>au.com.cybersearch2.entity.Issue</class>
       <class>au.com.cybersearch2.entity.Check</class>
       <property name="database-name" value="telegen.db"/>
       <property name="schema-filename" value="telegen_schema.sql"/>
       <property name="drop-schema-filename" value="drop_telegen_schema.sql"/>
       <property name="data-filename" value="telegen_data.sql"/>
   </persistence-unit>
</persistence>
