<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.0">
   <persistence-unit name="cities">
       <class>au.com.cybersearch2.classy_logic.jpa.City</class>
       <property name="database-name" value="cities.db"/>
   </persistence-unit>
   <persistence-unit name="agriculture">
       <class>au.com.cybersearch2.classy_logic.jpa.Country</class>
       <class>au.com.cybersearch2.classy_logic.jpa.YearPercent</class>
       <property name="database-name" value="agriculture.db"/>
   </persistence-unit>
</persistence>
